.pt-15 {
    padding-top: 15px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}



// Color

.text-red {
    color: red;
}

.no-radious {
    border-radius: 0px !important;
}

.mb-15 {
    margin-bottom: 15px;
}

.button {
    cursor: pointer;
}